@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&family=Saira+Semi+Condensed:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200&family=Rajdhani:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none;
  outline: 1; }

.wrap::after {
  content: '';
  display: none;
  clear: both; }

#header_sub {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }
  #header_sub .inner {
    width: 1180px;
    margin: 0 auto;
    padding: 50px 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-content: center; }
    #header_sub .inner h1 {
      display: flex;
      align-content: center;
      justify-content: center; }
      #header_sub .inner h1 a {
        display: inline-block;
        margin-right: 15px;
        font: bold 16px/15px "Rajdhani";
        color: #111;
        letter-spacing: 1px; }
      #header_sub .inner h1 i {
        font-size: 30px;
        color: #111;
        line-height: 10px; }
    #header_sub .inner #gnb::after {
      content: '';
      display: block;
      clear: both; }
    #header_sub .inner #gnb li {
      float: left;
      display: block;
      padding: 0px 30px; }
      #header_sub .inner #gnb li:first-child {
        padding-left: 0; }
      #header_sub .inner #gnb li:last-child {
        padding-right: 0; }
      #header_sub .inner #gnb li a {
        font: 15px/1 "Rajdhani";
        color: #333; }
    #header_sub .inner .util::after {
      content: '';
      display: block;
      clear: both; }
    #header_sub .inner .util li {
      float: left;
      display: block;
      margin-right: 20px; }
      #header_sub .inner .util li:last-child {
        margin-right: 0; }
      #header_sub .inner .util li a i {
        color: #ddd; }
    #header_sub .inner .btnMo {
      display: none;
      float: right;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      border: 2px solid #333;
      font: bold 15px/1 "Rajdhani";
      color: #333;
      text-align: center;
      letter-spacing: 2px;
      padding: 3px 0px 0px; }
    #header_sub .inner .Mob {
      position: fixed;
      top: 0;
      left: -252px;
      width: 250px;
      height: 100vh;
      background: rgba(17, 17, 17, 0.9);
      border-right: 2px solid #fff;
      padding: 30px 30px;
      z-index: 10;
      opacity: 1;
      transition: all 0.5s; }
      #header_sub .inner .Mob h1 {
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid #444;
        float: left; }
        #header_sub .inner .Mob h1 a {
          font: 18px/1 "Rajdhani";
          color: #aaa; }
          #header_sub .inner .Mob h1 a span {
            display: inline-block;
            margin-right: 10px;
            font: bold 20px/1 "Rajdhani";
            color: #eee; }
          #header_sub .inner .Mob h1 a i {
            font-size: 30px;
            color: #fff; }
      #header_sub .inner .Mob #gnbMo {
        margin-bottom: 20px; }
        #header_sub .inner .Mob #gnbMo li:last-child {
          padding-bottom: 20px;
          border-bottom: 1px solid #444; }
        #header_sub .inner .Mob #gnbMo li a {
          display: block;
          width: 100%;
          padding: 15px 0;
          font: bold 16px/1 "Rajdhani";
          color: #ddd; }
      #header_sub .inner .Mob .utilMo li a {
        display: block;
        width: 100%;
        padding: 10px 0;
        font: 14px/1 "Rajdhani";
        color: #aaa; }
      #header_sub .inner .Mob.on {
        left: 0;
        opacity: 1; }

#footer_sub {
  width: 100%;
  padding: 100px 0 50px;
  background: #efefef; }
  #footer_sub .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #footer_sub .inner .wrap {
      width: 100%;
      border-bottom: 1px solid #bbb;
      margin-bottom: 50px; }
      #footer_sub .inner .wrap::after {
        content: '';
        display: block;
        clear: both; }
      #footer_sub .inner .wrap .menu1 {
        margin-bottom: 50px; }
        #footer_sub .inner .wrap .menu1::after {
          content: '';
          display: block;
          clear: both; }
        #footer_sub .inner .wrap .menu1 > li {
          float: left;
          margin-right: 120px; }
          #footer_sub .inner .wrap .menu1 > li:last-child {
            float: right;
            margin-right: 0;
            width: 300px;
            position: relative; }
          #footer_sub .inner .wrap .menu1 > li > a {
            display: block;
            font: bold 16px/1 'Rajdhani';
            color: #555;
            letter-spacing: 1px;
            margin-bottom: 10px; }
          #footer_sub .inner .wrap .menu1 > li p {
            display: block;
            margin-bottom: 15px;
            font: 14px/1.2 'Rajdhani';
            color: #666; }
          #footer_sub .inner .wrap .menu1 > li label {
            font-size: 20px;
            color: #777;
            position: absolute;
            bottom: 8px;
            right: 20px; }
          #footer_sub .inner .wrap .menu1 > li input[type=email] {
            display: block;
            width: 100%;
            height: 40px;
            padding: 20px;
            border: none;
            background: #bbb;
            border-radius: 5px;
            font-family: 'Rajdhani';
            color: #fff; }
          #footer_sub .inner .wrap .menu1 > li .depth li:last-child {
            margin-bottom: 0; }
          #footer_sub .inner .wrap .menu1 > li .depth li a {
            font: 15px/1.4 'Rajdhani';
            color: #777; }
      #footer_sub .inner .wrap address {
        float: left;
        font: 15px/1 'Rajdhani';
        color: #999; }
      #footer_sub .inner .wrap > p {
        float: right;
        font: 15px/1 'Rajdhani';
        color: #999; }
      #footer_sub .inner .wrap .visa {
        float: right;
        width: 100%;
        text-align: right;
        margin: 40px 0px 20px; }
        #footer_sub .inner .wrap .visa span {
          font: 20px/1 'Lalezar';
          color: #999; }
          #footer_sub .inner .wrap .visa span:nth-of-type(1) {
            margin-right: 20px; }
    #footer_sub .inner .bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-content: center; }
      #footer_sub .inner .bottom h1 {
        display: flex;
        align-content: center;
        justify-content: center; }
        #footer_sub .inner .bottom h1 a {
          display: inline-block;
          margin-left: 15px;
          font: bold 20px/15px 'Rajdhani';
          color: #555;
          letter-spacing: 1px; }
        #footer_sub .inner .bottom h1 i {
          font-size: 35px;
          color: #555;
          line-height: 10px; }
      #footer_sub .inner .bottom .menu2::after {
        content: '';
        display: block;
        clear: both; }
      #footer_sub .inner .bottom .menu2 li {
        float: left;
        display: block;
        padding: 0px 30px; }
        #footer_sub .inner .bottom .menu2 li:first-child {
          padding-left: 0; }
        #footer_sub .inner .bottom .menu2 li:last-child {
          padding-right: 0; }
        #footer_sub .inner .bottom .menu2 li a {
          font: bold 15px/1 'Rajdhani';
          color: #666;
          letter-spacing: 1px; }
      #footer_sub .inner .bottom .sns::after {
        content: '';
        display: block;
        clear: both; }
      #footer_sub .inner .bottom .sns li {
        float: left;
        display: block;
        margin-right: 10px; }
        #footer_sub .inner .bottom .sns li:last-child {
          margin-right: 0; }
        #footer_sub .inner .bottom .sns li a {
          display: block;
          width: 40px;
          height: 40px;
          background: #ddd;
          border-radius: 50%;
          text-align: center; }
          #footer_sub .inner .bottom .sns li a i {
            font-size: 20px;
            line-height: 40px;
            color: #888; }

.content {
  width: 100%;
  padding: 0px 0px 100px; }
  .content .sub_visual {
    width: 100%;
    height: 300px;
    background: #666;
    margin-bottom: 100px; }
    .content .sub_visual .txt {
      width: 1180px;
      height: 100%;
      margin: 0 auto;
      position: relative; }
      .content .sub_visual .txt h1 {
        font: normal 50px/1 'Rajdhani';
        color: #eee;
        position: absolute;
        top: 75%;
        left: 0;
        z-index: 3; }
        .content .sub_visual .txt h1 span {
          font: normal 20px/1 'arial';
          color: #fff;
          border-left: 3px solid #fff;
          padding: 0 20px;
          z-index: 3; }
  .content .inner {
    width: 1180px;
    margin: 0 auto;
    min-height: 500px;
    position: relative; }

.member .sub_visual {
  background: url(../../img/unsplash.jpg) no-repeat bottom/cover; }

#header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }
  #header .inner {
    width: 1180px;
    margin: 0 auto;
    padding: 50px 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-content: center; }
    #header .inner h1 {
      display: flex;
      align-content: center;
      justify-content: center; }
      #header .inner h1 a {
        display: inline-block;
        margin-right: 15px;
        font: bold 16px/15px "Rajdhani";
        color: #111;
        letter-spacing: 1px; }
      #header .inner h1 i {
        font-size: 30px;
        color: #111;
        line-height: 10px; }
    #header .inner #gnb::after {
      content: '';
      display: block;
      clear: both; }
    #header .inner #gnb li {
      float: left;
      display: block;
      padding: 0px 30px; }
      #header .inner #gnb li:first-child {
        padding-left: 0; }
      #header .inner #gnb li:last-child {
        padding-right: 0; }
      #header .inner #gnb li a {
        font: 15px/1 "Rajdhani";
        color: #333; }
    #header .inner .util::after {
      content: '';
      display: block;
      clear: both; }
    #header .inner .util li {
      float: left;
      display: block;
      margin-right: 20px; }
      #header .inner .util li:last-child {
        margin-right: 0; }
      #header .inner .util li a i {
        color: #aaa; }
    #header .inner .btnMo {
      display: none;
      float: right;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      border: 2px solid #333;
      font: bold 15px/1 "Rajdhani";
      color: #333;
      text-align: center;
      letter-spacing: 2px;
      padding: 3px 0px 0px; }
    #header .inner .Mob {
      position: fixed;
      top: 0;
      left: -252px;
      width: 250px;
      height: 100vh;
      background: rgba(17, 17, 17, 0.9);
      border-right: 2px solid #fff;
      padding: 30px 30px;
      z-index: 10;
      opacity: 1;
      transition: all 0.5s; }
      #header .inner .Mob h1 {
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid #444;
        float: left; }
        #header .inner .Mob h1 a {
          font: 18px/1 "Rajdhani";
          color: #aaa; }
          #header .inner .Mob h1 a span {
            display: inline-block;
            margin-right: 10px;
            font: bold 20px/1 "Rajdhani";
            color: #eee; }
          #header .inner .Mob h1 a i {
            font-size: 30px;
            color: #fff; }
      #header .inner .Mob #gnbMo {
        margin-bottom: 20px; }
        #header .inner .Mob #gnbMo li:last-child {
          padding-bottom: 20px;
          border-bottom: 1px solid #444; }
        #header .inner .Mob #gnbMo li a {
          display: block;
          width: 100%;
          padding: 15px 0;
          font: bold 16px/1 "Rajdhani";
          color: #ddd; }
      #header .inner .Mob .utilMo li a {
        display: block;
        width: 100%;
        padding: 10px 0;
        font: 14px/1 "Rajdhani";
        color: #aaa; }
      #header .inner .Mob.on {
        left: 0;
        opacity: 1; }

#visual {
  width: 100%;
  height: 100vh;
  z-index: 1; }
  #visual img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

#footer {
  width: 100%;
  padding: 100px 0 50px;
  background: #efefef; }
  #footer .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #footer .inner .wrap {
      width: 100%;
      border-bottom: 1px solid #bbb;
      margin-bottom: 50px; }
      #footer .inner .wrap::after {
        content: '';
        display: block;
        clear: both; }
      #footer .inner .wrap .menu1 {
        margin-bottom: 50px; }
        #footer .inner .wrap .menu1::after {
          content: '';
          display: block;
          clear: both; }
        #footer .inner .wrap .menu1 > li {
          float: left;
          margin-right: 120px; }
          #footer .inner .wrap .menu1 > li:last-child {
            float: right;
            margin-right: 0;
            width: 300px;
            position: relative; }
          #footer .inner .wrap .menu1 > li > a {
            display: block;
            font: bold 16px/1 'Rajdhani';
            color: #555;
            letter-spacing: 1px;
            margin-bottom: 10px; }
          #footer .inner .wrap .menu1 > li p {
            display: block;
            margin-bottom: 15px;
            font: 14px/1.2 'Rajdhani';
            color: #666; }
          #footer .inner .wrap .menu1 > li label {
            font-size: 20px;
            color: #777;
            position: absolute;
            bottom: 8px;
            right: 20px; }
          #footer .inner .wrap .menu1 > li input[type=email] {
            display: block;
            width: 100%;
            height: 40px;
            padding: 20px;
            border: none;
            background: #bbb;
            border-radius: 5px;
            font-family: 'Rajdhani';
            color: #fff; }
          #footer .inner .wrap .menu1 > li .depth li:last-child {
            margin-bottom: 0; }
          #footer .inner .wrap .menu1 > li .depth li a {
            font: 15px/1.4 'Rajdhani';
            color: #777; }
      #footer .inner .wrap address {
        float: left;
        font: 15px/1 'Rajdhani';
        color: #999; }
      #footer .inner .wrap > p {
        float: right;
        font: 15px/1 'Rajdhani';
        color: #999; }
      #footer .inner .wrap .visa {
        float: right;
        width: 100%;
        text-align: right;
        margin: 40px 0px 20px; }
        #footer .inner .wrap .visa span {
          font: 20px/1 'Lalezar';
          color: #999; }
          #footer .inner .wrap .visa span:nth-of-type(1) {
            margin-right: 20px; }
    #footer .inner .bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-content: center; }
      #footer .inner .bottom h1 {
        display: flex;
        align-content: center;
        justify-content: center; }
        #footer .inner .bottom h1 a {
          display: inline-block;
          margin-left: 15px;
          font: bold 20px/15px 'Rajdhani';
          color: #555;
          letter-spacing: 1px; }
        #footer .inner .bottom h1 i {
          font-size: 35px;
          color: #555;
          line-height: 10px; }
      #footer .inner .bottom .menu2::after {
        content: '';
        display: block;
        clear: both; }
      #footer .inner .bottom .menu2 li {
        float: left;
        display: block;
        padding: 0px 30px; }
        #footer .inner .bottom .menu2 li:first-child {
          padding-left: 0; }
        #footer .inner .bottom .menu2 li:last-child {
          padding-right: 0; }
        #footer .inner .bottom .menu2 li a {
          font: bold 15px/1 'Rajdhani';
          color: #666;
          letter-spacing: 1px; }
      #footer .inner .bottom .sns::after {
        content: '';
        display: block;
        clear: both; }
      #footer .inner .bottom .sns li {
        float: left;
        display: block;
        margin-right: 10px; }
        #footer .inner .bottom .sns li:last-child {
          margin-right: 0; }
        #footer .inner .bottom .sns li a {
          display: block;
          width: 40px;
          height: 40px;
          background: #ddd;
          border-radius: 50%;
          text-align: center; }
          #footer .inner .bottom .sns li a i {
            font-size: 20px;
            line-height: 40px;
            color: #888; }

/*# sourceMappingURL=style.css.map */
