@charset 'utf-8';

@import "reset.scss";
@import "custom.scss";

//sub layout
@import "sub/layout_sub.scss";
@import "sub/philosophy.scss";

#header{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0; left: 0;
    z-index: 2;
    
    .inner{
        width: 1180px;
        margin: 0 auto;
        padding: 50px 0;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-content: center;

        h1{
            display: flex;
            align-content: center;
            justify-content: center;

            a{
                display: inline-block;
                margin-right: 15px;
                font: bold 16px/15px $mainFon;
                color: #111;
                letter-spacing: 1px;
            }
            
            i{
                font-size: 30px;
                color: #111;
                line-height: 10px;
            }
        }

        #gnb{
            &::after{
                content: ''; display: block; clear: both;
            }


            li{
                float: left;
                display: block;
                padding: 0px 30px;

                &:first-child{
                    padding-left: 0;
                }

                &:last-child{
                    padding-right: 0;
                }

                a{
                    font: 15px/1 $mainFon;
                    color: #333;
                }
            }
        }

        .util{
            &::after{
                content: ''; display: block; clear: both;
            }

            li{
                float: left;
                display: block;
                margin-right: 20px;

                &:last-child{
                    margin-right: 0;
                }

                a i{
                    color: #aaa;
                }
            }
        }

        .btnMo{
            display: none;
            float: right;
            transform: translateY(-50%);
            width: 40px; height: 40px;
            border: 2px solid #333;
            font: bold 15px/1  $mainFon;
            color: #333;
            text-align: center;
            letter-spacing: 2px;
            padding: 3px 0px 0px; 
        }

        .Mob{
            position: fixed;
            top: 0; left: -252px;
            width: 250px; height: 100vh;
            background:rgba(17, 17, 17, 0.9);
            border-right: 2px solid #fff;
            padding: 30px 30px;
            z-index: 10;
            opacity: 1;
            transition: all 0.5s;

            h1{
                margin-bottom: 30px;
                padding-bottom: 20px;
                border-bottom: 1px solid #444;
                float: left;

                a{
                    font: 18px/1 $mainFon;
                    color: #aaa;

                    span{
                        display: inline-block;
                        margin-right: 10px;
                        font:  bold 20px/1 $mainFon;
                        color: #eee;
                    }

                    i{
                        font-size: 30px;
                        color: #fff;
                    }
                }
            }

            #gnbMo{
                margin-bottom: 20px;

                li{
                    &:last-child{
                        padding-bottom: 20px;
                        border-bottom: 1px solid #444;
                    }

                    a{
                        display: block;
                        width: 100%;
                        padding: 15px 0;
                        font: bold 16px/1 $mainFon;
                        color: #ddd;
                    }
                }
            }

            .utilMo{
                li{
                    a{
                        display: block;
                        width: 100%;
                        padding: 10px 0;
                        font: 14px/1 $mainFon;
                        color: #aaa;
                    }
                }
            }

            &.on{
                left: 0;
                opacity: 1;
            }
        }
    }
}

#visual{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    overflow: hidden;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .col{
        width: 150px; height: 70%;
        position: absolute;
        top: 20%; left: 100px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;

        span{
            font: 13px/1 $mainFon;
            color: rgba(238, 238, 238, 0.82);
            text-align: left;
            position: relative;
            transition: 0.5s;

            &.on{
                font-size: 17px;
                color: #eee;

                i{
                    font-size: 13px;
                    color: #eee;
                }

                // div{
                //     height: 151px;
                // }
            }

            &:nth-of-type(1)::before{
                content: '';
                display: block;
                width: 1px; height: 151px;
                background: rgba(238, 238, 238, 0.582);
                position: absolute;
                top: 13px; left: 8px;
                margin-left: -1px;
            }

            &:nth-of-type(2)::before{
                content: '';
                display: block;
                width: 1px; height: 150px;
                background: rgba(238, 238, 238, 0.582);
                position: absolute;
                top: 12px; left: 8px;
                margin-left: -1px;
            }

            &:nth-of-type(3)::before{
                content: '';
                display: block;
                width: 1px; height: 150px;
                background: rgba(238, 238, 238, 0.582);
                position: absolute;
                top: 13px; left: 8px;
                margin-left: -1px;
            }

            &:nth-of-type(4)::before{
                content: '';
                display: block;
                width: 1px; height: 150px;
                background: rgba(238, 238, 238, 0.582);
                position: absolute;
                top: 13px; left: 8px;
                margin-left: -1px;
            }

            div{
                width: 2px; height: 0px;
                background: #eee;
                position: absolute;
                top: -150px; left: 8px;
                margin-left: -1px;
                transition: 0.5s;

                &.on{
                    height: 151px;
                }
            }

            
            i{
                display: inline-block;
                margin-right: 30px;
                width: 16px; height: 16px;
                font-size: 10px;
                line-height: 15px;
                text-align: center;
                color: rgba(238, 238, 238, 0.582);
                z-index: 2;
                transition: 0.5s;
            }
        }
    }
    
    section{
        width: 550px;
        height: 350px;
        position: absolute;
        top: 55%; left: 110%;
        margin-top: -230px;
        margin-left: -275px;
        transition: 1s;

        article{
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0; top: 0;

            &.on{
                .inner{
                    transform: scale(1.1);
                    opacity: 0.9;
                    background: rgba(69, 69, 69, 0.817);
                }

                // .inner .txt{
                //     opacity: 0.9;
                //     left: -120px;
                // }
            }

            .inner{
                width: 100%;
                height: 100%;
                background: rgba(69, 69, 69, 0.653);
                border-radius: 10px;
                box-shadow: 10px 10px 20px rgba(0,0,0, 0.1);
                position: relative;
                display: flex;
                justify-content: space-between;
                align-content: center;
                opacity: 0.6;
                transform: scale(0.8);
                transition: all 1s;

                .pic{
                    width: 100%; height: 100%;
                    border-radius: 5%;
                    background-repeat: no-repeat;
                    background-position: center;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    video{
                        width: 100%; height: 100%;
                        object-fit: cover;
                    }

                    img{
                        width: 100%; height: 100%;
                        object-fit: cover;
                    }
                }

                .line1{
                    background: #eee;
                    width: 0%; height: 2px;
                    position: absolute;
                    top: 0; left: 40%;
                }

                .line2{
                    background: #eee;
                    width: 2px; height: 0%;
                    position: absolute;
                    top: 0; right: 0;
                }

                .line3{
                    background: #eee;
                    width: 0%; height: 2px;
                    position: absolute;
                    bottom: 0; right: 0;
                }

                .line4{
                    background: #eee;
                    width: 2px; height: 0%;
                    position: absolute;
                    bottom: 0; left: 0;
                }

                .txt{
                    width: 70%;
                    padding: 30px 20px;
                    position: absolute;
                    bottom: 65%; left: 0px;
                    background: #eee;
                    opacity: 0;

                    

                    h1{
                        font: bold 24px/1 $mainFon;
                        color: #555;
                        margin-bottom: 20px;
                    }

                    p{
                        font: 15px/1.2 $mainFon;
                        color: #777;
                    }
                }
            }
        }
    }

    .btnPrev{
        width: 60px;
        height: 60px;
        position: absolute;
        top: 40%; right: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        cursor: pointer;

        span{
            font: 11px/1 'arial';
            color: #fff;
            opacity: 1; 
            transition: 0.5s;       
        }

        &::before{
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: #fff;
            position: absolute;
            top: 10%; left: 0%;
            transform-origin: center center;
            transform: rotate(-180deg);
            transition: 0.5s;
        }

        &::after{
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: #fff;
            position: absolute;
            bottom: 90%; left: 0%;
            transform-origin: center center;
            transform: rotate(180deg);
            transition: 0.5s;
        }

        &:hover span{
            opacity: 0;
            transform: translateY(100%);
        }

        &:hover::before{
            transform: translateX(-15px) rotate(-60deg);
        }

        &:hover::after{
            transform: translateX(15px) rotate(60deg);
        }
    }

    .btnNext{
        width: 60px;
        height: 60px;
        position: absolute;
        top: 53%; right: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: right;
        cursor: pointer;

        span{
            font: 11px/1 'arial';
            color: #fff;
            opacity: 1;
            transition: 0.5s;
        }

        &::before{
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: #fff;
            position: absolute;
            top: 90%; left: 0;
            transform-origin: center center;
            transform: rotate(180deg);
            transition: 0.5s;
        }

        &::after{
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: #fff;
            position: absolute;
            bottom: 10%; left: 0;
            transform-origin: center center;
            transform: rotate(-180deg);
            transition: 0.5s; 
        }

        &:hover span{
            opacity: 0;
            transform: translateY(-100%);
        }

        &:hover::before{
            transform: translateX(-15px) rotate(60deg);
        }

        &:hover::after{
            transform: translateX(15px) rotate(-60deg);
        }
    }
}

// news -------------------------------------------------------------------------------
#news{
    width: 100%; 
    padding: 200px 0px;
    background: #111;

    .inner{
        width: 1180px;
        margin: 0 auto;
        position: relative;

        h1{
            @include title();

            &::after{
                content: '';
                display: block;
                width: 40px; height: 2px;
                background:$mainCol;
                position: absolute;
                top: 50px; left: 50%;
                transform: translateX(-50%);
            }

        }

        >p{
            @include title2();
        }

        .wrap{
            width: 90%; height: 500px;
            margin: 0 auto;

            .slide{
                width: 100%; height: 100%;
                white-space: nowrap;
                font-size: 0;
                overflow: hidden;

                li{
                    width: 100%; height: 100%;
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    transform: translateX(0);

                    img{
                        width: 100%; height: 100%;
                        object-fit: cover;
                    }


                    article{
                        width: 100%; height: 100%;
                        padding: 200px 30px;
                        position: absolute;
                        top: 50%; left: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;

                        h2{
                            font: bold 30px/1 'arial';
                            color: #eee;
                            position: absolute;
                            top: 50%; left: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 2;
                            transition: 0.3s;
                            
                        }

                        p{
                            font: 20px/1.2 'arial';
                            color: #ccc;
                            opacity: 0;
                            position: absolute;
                            top: 50%; left: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 2;
                            transition: 0.3s;
                        }

                        &::before{
                            content: '';
                            width: 0%; height: 95%;
                            position: absolute;
                            top: 50%; left: 50%;
                            transform: translate(-50%, -50%);
                            border-top: 2px solid #fff;
                            border-bottom: 2px solid #fff;
                            transition: all 0.8s;
                            z-index: 2;
                        }
    
                        &::after{
                            content: '';
                            width: 97%; height: 0%;
                            position: absolute;
                            top: 50%; left: 50%;
                            transform: translate(-50%, -50%);
                            border-left: 2px solid #fff;
                            border-right: 2px solid #fff;
                            transition: all 0.8s;
                            z-index: 2;
                        }

                        span{
                            display: none;
                            width: 100%; height: 100%;
                            background: $mainCol;
                            position: absolute;
                            top: 0; left: 0;
                            opacity: 0.8;
                            transition: all 0.5s;
                            z-index: 1;
                        }

                        &:hover::before{
                            width: 97%;
                        }

                        &:hover::after{
                            height: 95%;
                        }

                        &:hover{
                            span{
                                display: block;
                            }

                            h2{
                                transform: translate(-50%, -150%);
                            }

                            p{
                                opacity: 1;
                                transform: translate(-50%, 50%);
                            }
                        }
                    }

                    a{
                        display: block;
                        width: 50px; height: 50px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        background: rgba(238, 238, 238, 0.5);
                        border-radius: 50%;
                        text-align: center;
                        opacity: 0.5;
                        transition: 0.3s;
                        z-index: 10;

                        i{
                            font-size: 50px;
                            line-height: 50px;
                            color: #555;
                        }

                        &:hover{
                            opacity: 1;
                        }
                    }

                    .left{
                        left: 30px;   
                    }

                    .right{
                        right: 30px;   
                    }
                }
            }
        }
    }
}

// brand -------------------------------------------------------------------------------
#brand{
    width: 100%;
    padding: 200px 0;
    background: #efefef;

    
    &.on .inner{
        h1, p{
            transform: translateY(0);
            opacity: 1;
        }


        .wrap article{
            opacity: 1;
            transition-delay: 0.5s;

            &:nth-of-type(1){
                transform: translateY(-30px);
            }

            &:nth-of-type(2){
                transform: translateY(50px);
            }

            &:nth-of-type(3){
                transform: translateY(-30px);
            }
        }
    }

    .inner{
        width: 1180px;
        margin: 0 auto;
        position: relative;

        h1{
            @include title($color:#111);
            transform: translateY(50px);
            transition: 1s;
            opacity: 0;

            &::after{
                content: '';
                display: block;
                width: 40px; height: 2px;
                background:$mainCol;
                position: absolute;
                top: 50px; left: 50%;
                transform: translateX(-50%);
            }
        }

        >p{
            @include title2($color:#111);
            transform: translateY(-50px);
            transition: 1s;
            opacity: 0;
        }

        .wrap{
            width: 100%;

            &::after{
                content: ''; display: block; clear: both;
            }

            article{
                width: 380px; height: 500px;
                float: left;
                margin-right: 20px;
                position: relative;
                transition: 1.5s;
                opacity: 0;

                &:hover{ 
                    .txt{
                        opacity: 1;
                        left: -5%;
                    }
                }
    
                &:last-child{
                    margin-right: 0;
                }

                &:nth-of-type(1){
                    transform: translateY(-130px);
                }

                &:nth-of-type(2){
                    transform: translateY(150px);
                }

                &:nth-of-type(3){
                    transform: translateY(-130px);
                }

                img{
                    width: 100%; height: 100%;
                    object-fit: cover;
                    z-index: 3;
                }

                .txt{
                    width: 90%; height: 110%;
                    position: absolute;
                    top: 50%; left:-10%;
                    transform: translateY(-50%);
                    background: rgba(255, 100, 44, 0.795);
                    padding: 80px 20px;
                    transition: all 0.5s;
                    opacity: 0;
                    z-index: 1;

                    h2{
                        font: bold 24px/1 $mainFon;
                        color: #eee;
                        margin-bottom: 40px;
                    }

                    p{
                        font: 18px/1.3 $mainFon;
                        color: #ddd;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }
}

// banner ------------------------------------------------------------------------------
#banner{
    width: 100%;
    padding: 100px;
    background: url(../img/banner1.jpg) no-repeat fixed;

    .inner{
        width: 1180px;
        margin: 0 auto;
        text-align: center;
        position: relative;

        h1{
            @include title($color:#eee);

            &::after{
                content: '';
                display: block;
                width: 40px; height: 2px;
                background:$mainCol;
                position: absolute;
                top: 50px; left: 50%;
                transform: translateX(-50%);
            }
        }

        p{
            font: normal 16px/1.4 $mainFon;
            color: #ddd;
        }
    }
}

// comment -----------------------------------------------------------------------------
#comment{
    width: 100%;
    padding: 200px 0;
    background: #111;

    &.on .inner{
        h1, p{
            transform: translateY(0);
            opacity: 1;
        }
    
        .wrap article{
            opacity: 1;

            &:first-child{
                transition-delay: 0.3s;
                transform: translateX(0px);
            }

            &:last-child{
                transition-delay: 0.3s;
                transform: translateX(0px);
            }
        }
    }

    .inner{
        width: 1180px;
        margin: 0 auto;
        position: relative;

        h1{
            @include title();
            transform: translateY(50px);
            transition: 1s;
            opacity: 0;

            &::after{
                content: '';
                display: block;
                width: 40px; height: 2px;
                background:$mainCol;
                position: absolute;
                top: 50px; left: 50%;
                transform: translateX(-50%);
            }

        }

        >p{
            @include title2();
            transform: translateY(-50px);
            transition: 1s;
            opacity: 0;
        }

        .wrap{
            width: 100%;

            &::after{
                content: ''; display: block; clear: both;
            }

            article{
                width: 580px; height: 500px;
                float: left;
                margin-right: 20px;
                padding: 10px;
                background: rgba(187, 187, 187, 0.144);
                transition: 1s;
                opacity: 0;

                &:first-child{
                    transform: translateX(-200px);
                }

                &:last-child{
                    margin-right: 0;
                    transform: translateX(200px);
                }

                h2{
                    display: inline-block;
                    font: bold 20px/1 $mainFon;
                    color: #eee;
                    margin-bottom: 15px;

                }

                >span{
                    float: right;

                    a{
                        i{
                            font-size: 16px;
                            color: #ddd;
                            transition: 0.3s;
                        }

                        &:hover svg{
                            font-size: 20px;
                            transform: rotate(180deg);
                        }
                    }
                }

                .pic{
                    width: 100%;
                    position: relative;
                    padding: 35px 0;

                    &:nth-of-type(1){
                        border-top: 1px solid $mainCol;
                        border-bottom: 1px solid $mainCol;
                    }

                    &:nth-of-type(2){
                        border-bottom: 1px solid $mainCol;
                    }

                    img{
                        width: 230px; height: 150px;
                        object-fit: cover;
                    }

                    h3{
                        width: 300px;
                        padding-bottom: 10px;
                        position: absolute;
                        top: 45px; left: 250px;
                        border-bottom: 2px solid #333;
                        font: normal 20px/1 $mainFon;
                        color: #ccc;
                    }

                    span{
                        position: absolute;
                        top: 80px; left: 250px;
                        font: 15px/1 $mainFon;
                        color: #777;
                    }

                    p{
                        position: absolute;
                        top: 120px; left: 250px;
                        font: 16px/1.4 $mainFon;
                        color: #999;
                    }
                    
                }

                ul{
                    width: 100%;
                    
                    li{
                        width: 100%; height: 50px; 
                        border-bottom: 1px solid #333;
                        padding: 0px 10px;

                        &:nth-of-type(1){
                            border-top: 1px solid $mainCol;
                        }

                        &:last-child{
                            border-bottom: 1px solid $mainCol;
                        }

                        &::after{
                            content: ''; display: block; clear: both;
                        }

                        a{
                            float: left;
                            font: normal 17px/50px $mainFon;
                            color: #aaa;
                            transition: 0.2s;
                        }

                        span{
                            float: right;
                            font: normal 13px/50px $mainFon;
                            color: #777;
                        }

                        &:hover{
                            background: $mainCol;

                            a{
                                color: #eee;
                                letter-spacing: 1px;
                            }
                            span{
                                display: none;
                            }
                        }

                    }
                }
            }

        }
    }
}


#footer{
    width: 100%;
    padding: 100px 0 50px;
    background: #efefef;

    .inner{
        width: 1180px;
        margin: 0 auto;
        position: relative;

        .wrap{
            width: 100%;
            border-bottom: 1px solid #bbb;
            margin-bottom: 50px;

            &::after{
                content: ''; display: block; clear: both;
            }

            .menu1{
                margin-bottom: 50px;

                &::after{
                    content: ''; display: block; clear: both;
                }
                >li{
                    float: left;
                    margin-right: 120px;

                    &:last-child{
                        float: right;
                        margin-right: 0;
                        width: 300px;
                        position: relative;
                    }

                    >a{
                        display: block;
                        font: bold 16px/1 'Rajdhani';
                        color: #555;
                        letter-spacing: 1px;
                        margin-bottom: 10px;
                    }

                    p{
                        display: block;
                        margin-bottom: 15px;
                        font: 14px/1.2 'Rajdhani';
                        color: #666;
                    }

                    label{
                        font-size: 20px;
                        color: #777;
                        position: absolute;
                        bottom: 8px; right: 20px;
                    }

                    input[type=email]{
                        display: block;
                        width: 100%; height: 40px;
                        padding: 20px;
                        border: none;
                        background: #bbb;
                        border-radius: 5px;
                        font-family: 'Rajdhani';
                        color: #fff;
                    }
                    
                    .depth{
                        li{

                            &:last-child{
                                margin-bottom: 0;
                            }

                            a{
                                font: 15px/1.4 'Rajdhani';
                                color: #777;
                            }
                        }
                    }
                }
            }

            address{
                float: left;
                font: 15px/1 'Rajdhani';
                color: #999;
            }

            >p{
                float: right;
                font: 15px/1 'Rajdhani';
                color: #999;
            }

            .visa{
                float: right;
                width: 100%;
                text-align: right;
                margin: 40px 0px 20px;


                span{
                    font: 20px/1 'Lalezar';
                    color: #999;

                    &:nth-of-type(1){
                        margin-right: 20px;
                    }
                }
            }   
        }

        .bottom{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-content: center;

            h1{
                display: flex;
                align-content: center;
                justify-content: center;
    
                a{
                    display: inline-block;
                    margin-left: 15px;
                    font: bold 20px/15px 'Rajdhani';
                    color: #555;
                    letter-spacing: 1px;
                }
                
                i{
                    font-size: 35px;
                    color: #555;
                    line-height: 10px;
                }
            }

            .menu2{
                &::after{
                    content: ''; display: block; clear: both;
                }
    
    
                li{
                    float: left;
                    display: block;
                    padding: 0px 30px;

                    &:first-child{
                        padding-left: 0;
                    }
    
                    &:last-child{
                        padding-right: 0;
                    }
    
                    a{
                        font: bold 15px/1 'Rajdhani';
                        color: #666;
                        letter-spacing: 1px;
                    }
                }
            }

            .sns{
                &::after{
                    content: ''; display: block; clear: both;
                }
    
                li{
                    float: left;
                    display: block;
                    margin-right: 10px;
    
                    &:last-child{
                        margin-right: 0;
                    }

                    a{
                        display: block;
                        width: 40px; height: 40px;
                        background: #ddd;
                        border-radius: 50%;
                        text-align: center;

                        i{
                            font-size: 20px;
                            line-height: 40px;
                            color: #888;
                        }
                    }
                }
            }
        }
    }
}

#navi{
    position: fixed;
    right: 50px; top: 50%;
    transform: translateY(-50%);
    z-index: 3;

    li{
        margin: 20px 0;

        a{
            display: block;
            width: 10px; height: 10px;
            border-radius: 5px;
            background: #eee;
            transition: 0.5s;

            &.on{
                background: $mainCol;
                height: 60px;
            }
        }
    }
}

@media screen and (max-width:1179px){
    #header{
        
        .inner{
            width: 100%;
            padding: 50px 30px;
    
            #gnb{
                display: none;
            }
    
            .util{
    
                li{
                    float: left;
                    display: block;
                    margin-right: 20px;
    
                    &:last-child{
                        margin-right: 0;
                    }
    
                    a i{
                        color: #aaa;
                    }
                }
            }
    
            .btnMo{
                display: block;
                float: right;
                transform: translateY(-50%);
                width: 40px; height: 40px;
                border: 2px solid #333;
                font: bold 15px/1  $mainFon;
                color: #333;
                text-align: center;
                letter-spacing: 2px;
                padding: 3px 0px 0px; 
            }
    
            .Mob{
                position: fixed;
                top: 0; left: -252px;
                width: 250px; height: 100vh;
                background:rgba(17, 17, 17, 0.9);
                border-right: 2px solid #fff;
                padding: 30px 30px;
                z-index: 10;
                opacity: 1;
                transition: all 0.5s;
    
                h1{
                    margin-bottom: 30px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #444;
                    float: left;
    
                    a{
                        font: 18px/1 $mainFon;
                        color: #aaa;
    
                        span{
                            display: inline-block;
                            margin-right: 10px;
                            font:  bold 20px/1 $mainFon;
                            color: #eee;
                        }
    
                        i{
                            font-size: 30px;
                            color: #fff;
                        }
                    }
                }
    
                #gnbMo{
                    margin-bottom: 20px;
    
                    li{
                        &:last-child{
                            padding-bottom: 20px;
                            border-bottom: 1px solid #444;
                        }
    
                        a{
                            display: block;
                            width: 100%;
                            padding: 15px 0;
                            font: bold 16px/1 $mainFon;
                            color: #ddd;
                        }
                    }
                }
    
                .utilMo{
                    li{
                        a{
                            display: block;
                            width: 100%;
                            padding: 10px 0;
                            font: 14px/1 $mainFon;
                            color: #aaa;
                        }
                    }
                }
    
                &.on{
                    left: 0;
                    opacity: 1;
                }
            }
        }
    }
    
    #visual{
        width: 100%;
        height: 100vh;
        z-index: 1;
    
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    #footer{
        width: 100%;
        padding: 100px 0 50px;
        background: #efefef;
    
        .inner{
            width: 1180px;
            margin: 0 auto;
            position: relative;
    
            .wrap{
                width: 100%;
                border-bottom: 1px solid #bbb;
                margin-bottom: 50px;
    
                &::after{
                    content: ''; display: block; clear: both;
                }
    
                .menu1{
                    margin-bottom: 50px;
    
                    &::after{
                        content: ''; display: block; clear: both;
                    }
                    >li{
                        float: left;
                        margin-right: 120px;
    
                        &:last-child{
                            float: right;
                            margin-right: 0;
                            width: 300px;
                            position: relative;
                        }
    
                        >a{
                            display: block;
                            font: bold 16px/1 'Rajdhani';
                            color: #555;
                            letter-spacing: 1px;
                            margin-bottom: 10px;
                        }
    
                        p{
                            display: block;
                            margin-bottom: 15px;
                            font: 14px/1.2 'Rajdhani';
                            color: #666;
                        }
    
                        label{
                            font-size: 20px;
                            color: #777;
                            position: absolute;
                            bottom: 8px; right: 20px;
                        }
    
                        input[type=email]{
                            display: block;
                            width: 100%; height: 40px;
                            padding: 20px;
                            border: none;
                            background: #bbb;
                            border-radius: 5px;
                            font-family: 'Rajdhani';
                            color: #fff;
                        }
                        
                        .depth{
                            li{
    
                                &:last-child{
                                    margin-bottom: 0;
                                }
    
                                a{
                                    font: 15px/1.4 'Rajdhani';
                                    color: #777;
                                }
                            }
                        }
                    }
                }
    
                address{
                    float: left;
                    font: 15px/1 'Rajdhani';
                    color: #999;
                }
    
                >p{
                    float: right;
                    font: 15px/1 'Rajdhani';
                    color: #999;
                }
    
                .visa{
                    float: right;
                    width: 100%;
                    text-align: right;
                    margin: 40px 0px 20px;
    
    
                    span{
                        font: 20px/1 'Lalezar';
                        color: #999;
    
                        &:nth-of-type(1){
                            margin-right: 20px;
                        }
                    }
                }   
            }
    
            .bottom{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-content: center;
    
                h1{
                    display: flex;
                    align-content: center;
                    justify-content: center;
        
                    a{
                        display: inline-block;
                        margin-left: 15px;
                        font: bold 20px/15px 'Rajdhani';
                        color: #555;
                        letter-spacing: 1px;
                    }
                    
                    i{
                        font-size: 35px;
                        color: #555;
                        line-height: 10px;
                    }
                }
    
                .menu2{
                    &::after{
                        content: ''; display: block; clear: both;
                    }
        
        
                    li{
                        float: left;
                        display: block;
                        padding: 0px 30px;
    
                        &:first-child{
                            padding-left: 0;
                        }
        
                        &:last-child{
                            padding-right: 0;
                        }
        
                        a{
                            font: bold 15px/1 'Rajdhani';
                            color: #666;
                            letter-spacing: 1px;
                        }
                    }
                }
    
                .sns{
                    &::after{
                        content: ''; display: block; clear: both;
                    }
        
                    li{
                        float: left;
                        display: block;
                        margin-right: 10px;
        
                        &:last-child{
                            margin-right: 0;
                        }
    
                        a{
                            display: block;
                            width: 40px; height: 40px;
                            background: #ddd;
                            border-radius: 50%;
                            text-align: center;
    
                            i{
                                font-size: 20px;
                                line-height: 40px;
                                color: #888;
                            }
                        }
                    }
                }
            }
        }
    }
}